.red-on-hover:hover {
    color: #d9534f !important;
}

.dark-on-hover:hover {
    color: #1a1a1a !important;
}

.disabled-on-hover:hover {
    color: #d4d8da !important;
}

.icon-disabled {
    color: #d4d8da !important;
}

.ckb-lst {
    display: none;
}

.ckb-lst-lbl {
    margin: 0;
}

.ckb-lst + label {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M405.3 106.7v298.7H106.7V106.7h298.6m0-42.7H106.7C83.2 64 64 83.2 64 106.7v298.7c0 23.5 19.2 42.7 42.7 42.7h298.7c23.5 0 42.7-19.2 42.7-42.7V106.7C448 83.2 428.8 64 405.3 64z"/></svg>');
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.ckb-lst:checked + label {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M405.333 64H106.667C83.198 64 64 83.198 64 106.667v298.666C64 428.802 83.198 448 106.667 448h298.666C428.802 448 448 428.802 448 405.333V106.667C448 83.198 428.802 64 405.333 64zm-192 298.667L106.667 256l29.864-29.864 76.802 76.802 162.136-162.136 29.864 29.865-192 192z"/></svg>');
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}
